<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    
    </style>
</head>
<body>
    <h1 class="titre">Titre : {{Titre}}</h1>
    <h1 class="titre">NOM :{{Nom}}</h1>
    <h1 class="titre">PRENOM : {{Prenom}}</h1>
    <h1 class="titre">EMAIL{{EMAIL}}</h1>
    <h1 class="titre">TELEPHONE{{TELEPHONE}}</h1>
    <h1 class="titre">Materiel{{Materiel}}</h1>
    <h1 class="titre">Mention{{Mention}}</h1>
    </div>
</body>
</html>